$sm: 500px;
$md: 700px;
$lg: 1000px;
$xl: 1200px;

$search-z: 9;
$navbar-z: 10;
$progress-z: 11;
$drawer-backdrop-z: 19;
$drawer-z: 20;

$primary-color: #1e2b59;
$primary-variant-color: #1e3ca7;
$primary-light-color: #2483ff;
$secondary-color: rgb(73, 44, 151);
$secondary-variant-color: rgb(93, 39, 243);
