@import '@/assets/styles/base/variables';

::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 2px;
}

html {
    scrollbar-color: $primary-color rgb(210, 210, 210);
}
